body {
    background-color: black;
}

.container {
    background-color: rgb(152, 46, 0);
    text-align: center;
    margin-top: 300px;
    padding: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

input {
    padding: 5px;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}